body {
  font-family: "Helvetica", sans-serif;
  background-color: rgb(249, 236, 232);
}

@keyframes fade-in {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  70% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.calculator {
  max-width: 350px;
  margin: 0 auto;
  margin-top: 30px;
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.11);
  border-radius: 8px 8px 0 0;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  opacity: 1;
  animation: fade-in 3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.grid {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.result {
  grid-column: 1/3;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  background-image: linear-gradient(to right, #404040, #1f2021);
  height: 150px;
  border-radius: 8px 8px 0 0;
  color: #ffffff;
}

.numbers-to-calculate {
  font-size: 1.6em;
  justify-self: end;
  padding-right: 30px;
}

.final-result {
  justify-self: end;
  padding-right: 30px;
}

.numbers {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  color: #545454;
  font-size: 1.3em;
  grid-auto-rows: 80px;
  border-bottom-left-radius: 8px;
}

.num {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  transition: 0.1s ease-in;
}

.num:hover {
  cursor: pointer;
  background-color: #f8f8f7;
}

.num:active {
  background-color: #d8d8d8;
}

.op {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.1s ease-in;
  background-color: rgb(225, 238, 247);
}

.op:active {
  background: rgb(212, 223, 232);
}

.operators {
  display: grid;
  grid-template-columns: 1fr;

  justify-items: center;
  align-items: center;
  color: #545454;
  cursor: pointer;
  border-bottom-right-radius: 8px;
}

#period {
  border-bottom-left-radius: 8px;
}
